/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

img {
  display: block;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}
body {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column; /* Змінюємо напрямок на колонку */
  align-items: center; /* Вирівнюємо по центру */
  justify-content: flex-start;
  margin-top: 36px;
  gap: 16px; /* Більший проміжок між елементами */
}

.form-search {
}
.input-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  width: 272px;
  height: 40px;
  padding-left: 16px;
}
.btn-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.loader {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  text-align: center;
  animation: blink 1.5s infinite;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
.inform {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-around;
}

.inform-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
}

.inform-dan {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
}
